
#iot {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

#cats {
    color: white;
    font-weight: bolder;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}


#max_width {
    width: 90%;
  max-width: 800px;
}

#search_input {
    width: 100%;
    max-width: 800px;
}

#ingresar {
    color: white;
    background-color: transparent;
    font-weight: bolder;
    border-color: transparent;
    margin-right: 1em;
}

#carrito_btn {
    color: white;
    background-color: transparent;
    border-color: transparent;
}

#carrito_icon{
    font-size: 1.3rem;
    font-weight: bolder;
    margin-right: 1em;
    margin-left: 1em;
}

#search_btn{
    background-color: white;
    color: rgb(49, 49, 49);
    border-color: rgb(219, 219, 219);
}

.flex{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
 }

 .dropdownPerfil{
     font-size: 1.3em;
 }

 .dropdownPerfil::after{
    display: none; 
 }

 .logo{
     width: 200px;
     height: auto;
 }
