//modifica los colores de bootstrap:
$theme-colors: (
    "primary": #0046be,
    "danger": #ff4136
  );

//importa bootstrap para que luego sea usado en todo el árbol con las modificaciones anteriores:
@import "../node_modules/bootstrap/scss/bootstrap";


//Estilos comunes:
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.centerInPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}