

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    font-weight: 900;
    
}
  
.wrapper form {
  padding: 2.5rem 3rem;
  box-shadow: 0px 0px 10px 0px #000;
  margin-bottom: 5rem;
}
  
.wrapper form .btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
  margin-top: 2.5rem;
    
}
  
.wrapper form a {
  font-size: 0.9rem;
  color: grey;
    
}

  