@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

body {
    margin: 0;
    background:#fff;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: inherit,monospace;
  }
  
  
  :root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    /*color: var(--text-color);*/
    color:#dadce1;
    text-decoration: none;
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbar {
    
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
    flex-direction: row-reverse;
  }
  
  /* <ul> */
  .navbar-nav {
    max-width: 100%;
    height: 200%;
    display: flex;
    justify-content: flex-end;
  }
  
  /* <li> */
  .nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Icon Button */
  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.2);
  }
  
  .icon-button svg { 
    fill: var(--text-color);
    width: 15px;
    height: 15px;
  }
  
  
  /* Dropdown Menu */
  
  .dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    min-height: 230px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease-in-out;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-item {
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
    margin-bottom: 8px;
    
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }
  
  
  .menu-item .icon-button:hover {
    filter: none;
  }
  
  .menu-item:hover {
    background-color: #525357;
  }
  
  .icon-right {
    margin-left: auto;
  }
  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
    
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit{
    position: relative;
  }

  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }


  nav {
    background-color: #232f3e;
    padding: 1rem 1rem;
  }
  
  #search_btn {
    background-color: #febd69;
  }
  
  .input-group {
    
    width: 90%;
    margin-right: 35%;
  }
  
  #search_field {
    height: 2.4rem;
    padding: 1rem;
  }
  
  #login_btn,
  #view_btn {
    background-color: #febd69;
    padding: 0.4rem 1.8rem;
    font-family: calibri;
  }
  
  #cart {
    font-size: 1rem;
    color: white;
  }
  
  #cart_count {
    background-color: #febd69;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
  }
  